<!doctype html>
<html lang="zh">
<head>
    <title>{{.Title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">NB2xlsx</li>
    </ol>
</nav>
<div class="container">
<form enctype="multipart/form-data" action="/snvRatioResult" method="post" target="_blank">
    <input type="hidden" name="token" value="{{.Token}}"/>
    <div class="mb-3">
        <label for="batchName" class="form-label">批次名</label>
        <input class="form-control" type="text" id="batchName" name="batchName">
    </div>
    <div class="mb-3">
        <label for="sampleID" class="form-label">样品编号</label>
        <input class="form-control" type="text" id="sampleID" name="sampleID">
    </div>
    <div class="mb-3">
        <label for="chromosome" class="form-label">染色体</label>
        <input class="form-control" type="text" id="chromosome" name="chromosome">
    </div>
    <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit">提交</button>
    </div>
</form>
</div>
<a href="{{.Href}}">{{.Message}}</a>
<pre>{{.Err}}</pre>
</body>
</html>