<!doctype html>
<html lang="zh">
<head>
    <title>{{.Title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Summary</li>
    </ol>
</nav>
<div class="container">
<form enctype="multipart/form-data" action="/summaryResult" method="post" target="_blank">
    <input type="hidden" name="token" value="{{.Token}}"/>
    <div class="mb-3">
        <label for="formFileMultiple" class="form-label">解读表</label>
        <input class="form-control" type="file" id="formFileMultiple" name="anno">
    </div>
    <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit">提交</button>
    </div>
</form>
</div>
<a href="{{.Href}}">{{.Message}}</a>
<pre>{{.Err}}</pre>
</body>
</html>